# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Models
models/*.pkl
models/*.joblib

# MLflow
mlruns/

# DVC Cache
.dvc/cache/

# Logs
logs/*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Environment Variables
.env 
